*{
    font-family: "Staatliches", sans-serif;
    font-style: normal;
}

body{
    background: #000;
}

.hero{
    background-image: url('./assets/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

.quoteBg{
    background-image: url('./assets/galaxy.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

/* .getintouch{
    background-image: url('./assets/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    border: 1px solid red;
} */